body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #1877F2;
    font-size: 2.5rem;
}

p {
    font-style: italic;
    color: #888;
    font-size: 1.5rem;
}

