@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000;
}

/* h1 */
.title {
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: #f1f1f1;
}

/* #subtitle */
#subtitle {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #f1f1f1;
}

/* .flexboxContainer */
.flexboxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    transition-duration: 5s;
    
}

.box {
    width: 20%;
    height: 200px;
}

.flexboxContainer > div {
    height: auto;
    background-image: linear-gradient(to right, rgba(12, 62, 224, 0), rgb(150, 105, 47));
    flex-direction: column;
    gap: 5%;
    padding: 3%;
    border-radius: 25%;
}

a {
    text-decoration: none;
    color: #fff;
    text-align: justify;
    text-align-last: center; 
    /* https://stackoverflow.com/questions/4704896/how-to-center-justify-the-last-line-of-text-in-css */
    font-family: "Montserrat", sans-serif;
    
}

img {
    width: 80%;
}

.flexboxContainer > div:hover {
    background-color: #31962f;
    box-shadow: 0 0 10px #31962f;
    transition: all 0.5s;
}

/* done 11:24pm 20241130 */
